




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
     background-color: rgba(35, 49, 35, 0.986); 
}

.sign-in-form-container {
    width: 60%;
    margin: 60px auto;
    padding: 30px;
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin: 15px;
    font-size: 40px;
    text-align: center;
    color: rgb(195, 211, 195);
}

hr {
    margin: 20px 0px;
}

p {
    font-weight: bold;
    color: rgb(228, 238, 228);
    font-size: 20px;
}

label {
    font-size: 15px;
    font-weight: bold;
    color: rgb(33, 36, 33);
    margin-bottom: 10px;
    text-align: justify;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
}

.top {
    font-size: 18px;
}

.pers-org {
    font-size: 25px;
}

select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-radius: 4px;
    background: #f1f1f1;
}

a {
    margin-bottom: 20px;
    text-decoration: none;
    color: rgb(179, 194, 241);
    font-weight: 300;
    cursor: pointer;
}

button {
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    color: rgb(25, 27, 25);
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(19, 20, 19);
    cursor: pointer;
    background-color: white;
}

button:hover {
    background-color: #04aa6d;
    color: white;
}

.registerbtn {
    margin-left: 10px;
}

@media (max-width: 700px) {
    button {
        width: 100%;
    }

    .registerbtn {
        margin-left: 0;
    }
}

@media (min-width: 1100px) {
    .sign-in-form-container {
        width: 40%;
    }
}
