*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background-color: rgba(27, 153, 27, 0.986); */
}

.sign-in-form-container{
  width: 60%;
  height: 50%;
  margin: 60px auto;
  padding: 30px;
  background-color: rgba(1, 68, 1, 0.664);
  border-radius: 20px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  font-size: 15px;
  font-weight: bold;
  color: rgb(0, 95, 0);
  margin-bottom: 10px;
}

h1{
  margin: 15px;
  font-size: 40px;
  text-align: center;
  color: rgb(0, 95, 0);
}

form input{
  width: 50%;
}

::placeholder{
  font-size: 12px;
}

button{
  font-size: 15px;
  font-weight: bold;
  padding: 15px;
  color: rgb(0, 95, 0);
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(0, 95, 0);
  cursor: pointer;
}

a{
  margin-bottom: 20px;
  text-decoration: none;
  color: rgb(0, 95, 0);
  font-weight: 300;
  cursor: pointer;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

@media(min-width:1100px){
  .sign-in-form-container{
    width: 40%;
  }
}