body{
    	padding: 0;
    	margin: 0;
    	box-sizing: border-box;
    	overflow-y: scroll;
	scroll-behavior: smooth;
	scrollbar-width: thin !important;
	scrollbar-color: #006B5D transparent !important;
    background-color: #f2f2f2 !important;
}
::-webkit-scrollbar{
	width: 7px;
}
::-webkit-scrollbar-thumb{
	background-color: #006B5D;
}
