form{
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

h1 {
  color: darkgreen;
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
}

hr{
  margin: 20px 0px;
}

p {
  font-weight: bold;
  color: darkgreen;
  font-size: 20px;
}

label {
  font-size: 21px;
  font-weight: bold;
  color: darkgreen;
  text-align: justify;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}


.top{
  font-size: 18px;
}

.container p .pers-org{
  font-size: 25px;
}

select{
  width: 20%;
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: #04aa6d;
}

/* Set a style for all buttons */

button {
  background-color: #04aa6d;
  color: white;
  padding: 20px 5px;
  margin-right: 20px;
  border: 1px solid black;
  cursor: pointer;
  width: 45%;
  opacity: 0.9;
  border-radius: 5px;
  outline: none;
}

button:hover {
  opacity: 3;
}

.registerbtn{
  margin-left: 10px;
}

/* Float cancel and signup buttons and add an equal width

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
} */

/* Add padding to container elements */

@media(max-width:700px){

  button {
    background-color: #04aa6d;
    color: white;
    padding: 20px 5px;
    margin-right: 20px;
    border: 1px solid black;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
    border-radius: 5px;
    outline: none;
  }

  .registerbtn{
    margin-left: 25px;
  }

}
