body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #006b5d;
  color: white;
  text-align: center;
  padding: 2rem;
}

.services .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

#services {
  padding: 4rem 0;
  text-align: center;
}

.service {
  max-width: 1000px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
}

.service img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.service h3 {
  color: #006b5d;
  font-size: 1.5rem;
}

.service p {
  font-size: 1.1rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #006b5d;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #004c43;
}

.btn-container {
  text-align: center;
  margin-bottom: 40px;
}

footer {
  background-color: #006b5d;
  color: white;
  text-align: center;
  padding: 2rem;
}
